body {
    background-color: #050179;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li.nav-bar {
    float: left;
    position: relative;
    right: -40%;
}

    li.nav-bar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 50px;
        text-decoration: none;
    }

div.center-name {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

h1.center-name {
    font-size: 100px;
    color: white
}

h1.center-titles {
    color: white;
}

p.center-ab {
    position: absolute;
    top: 80%;
    left: 25%;
    width: 50%;
    font-size: 25px;
    text-align: justify;
    color: white;
}

p.center-title {
    color: white;
    position: absolute;
    top: 75%;
    left: 25%;
}

.btnEmail {
    position: absolute;
    left: 0%;
    top: 100%;
}

.center-textarea {
    font-family: 'Times New Roman', Times, serif;
    
    height: 150px;
    font-size: 25px;
    color: black;
}

div.div-suggest {
    color: white;
    position: absolute;
    top: 75%;
    left: 25.5%;
}